html,body{
    padding: 0;
    margin: 0;
}
body{
    padding: 15px;
    background-color: #f3f4f6;
}
.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form-add,
#form-edit {
    padding-top: 20px;
    padding-right: 30px;
}